.container-center {
  align-items: center;
  background: #a8bbcf;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login {
  align-items: center;
  background: #eaeaec;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: center;
  width: 600px;
}

.login-area {
  background-color: #181c2e;
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-area img {
  height: 200px;
  padding: 20px;
  width: 170px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}

form h1 {
  color: #181c2e;
  margin-bottom: 0.5em;
  text-align: center;
}

.login input {
  width: 210px;
  border: 2px solid black;
  margin: 30px;
  background-color: white;
  border-radius: 7px;
  font-size: 15px;
  height: 45px;
  margin-bottom: 15px;
  padding: 10px;
}

form button {
  background-color: #0d1330;
  border: 0;
  border-radius: 7px;
  color: white;
  font-size: 1.3em;
  height: 35px;
  width: 540px;
}

.login a {
  color: black;
  cursor: pointer;
  margin: 1.5em 0;
}
