.container-Wallet {
  align-items: baseline;
  background: #6c7a89;
  display: inline-flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.wallet {
  align-items: center;
  background: #eaeaec;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 10px;
  justify-content: center;
  width: 100%;
}

.wallet-area {
  background-color: #181c2e;
  justify-content: center;
  width: 100%;
}

form , input , h1 {
  align-items: flex-end;
  margin: 0;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

img {
  height: 200px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}

form h1 {
  color: #181c2e;
  margin-bottom: 0.5em;
  text-align: center;
}

.login input {
  background-color: white;
  border: 0;
  border-radius: 7px;
  font-size: 15px;
  height: 35px;
  margin-bottom: 15px;
  padding: 10px;
}

form button {
  background-color: #0d1330;
  border: 0;
  border-radius: 7px;
  color: white;
  font-size: 1.3em;
  height: 35px;
  width: 540px;
}

.login a {
  color: black;
  cursor: pointer;
  margin: 1.5em 0;
}
